body {
    font-family: "Mier book";
}
h2,#prod ,h4{
    margin-left: 10%; 
    line-height: 30%;  
    padding: .5rem 0;  
}
#container {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 20px;
    margin-left: 10%;          
}        
#maindiv {           
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
     rgba(17, 17, 26, 0.1) 0px 0px 8px;
     cursor: pointer;
}
#menImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;           
}
#name {
    margin-left: 10px; 
    margin-bottom: -10px;
    color: #656268;
    font-weight: 600px;  
    
}
#priceDiv {
    display: flex;
    gap:5px;
    margin-left: 10px;
    margin-bottom: -25px;  
}

#price {
    font-size: 19px;
    font-weight:700;
}

#strikepri {
    padding-top: 8px;
    padding-left: 2px;
    color: #6d6a70;   
}
#discount {
    padding-left: 10px;
    color: #686669;       
}

#delivery {
    width: 100px;
    height: 25px;
    border: 1px solid rgb(180, 168, 168);
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: 10px;  
    margin-bottom: 10px;
    background-color:#f9f9f9; 
    color: #716e75; 
    font-size: 14px;         
}  
#ratdiv {
    display: flex;
    gap:5px;
    margin-top: 10px;               
}     

#rating {
    width: 40px;
    height: 25px;
    border-radius: 20px;
    padding-left: 5px;
    margin-left: 10px; 
    margin-bottom: 5px; 
    background-color: #23bb75; 
    color: aliceblue;
}

#review {
    margin-top: 5px;
    font-size: 14px;
    color: #a4a0aa; 
}

@media all and (min-width: 381px) and (max-width: 700px) {
    #container {
        grid-template-columns: repeat(2, auto);
    }
    
}

@media all and (min-width: 50px) and (max-width: 380px) {
    #container {
        grid-template-columns: repeat(1, 1fr);
    }
    
} 